<div>
  <h1>Add a new restaurant</h1>
</div>

<div>
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= f.input :phone_number %>
  <%= f.submit %>
<% end %>
</div>

<div>
  <%= link_to "Homepage", restaurants_path %>
</div>
