<div>
  <h1><%= @restaurant.name %></h1>
</div>

<div>
  <%= @restaurant.address %>
</div>

<div>
  <%= @restaurant.category %>
</div>

<div>
  <%= @restaurant.phone_number %>
</div>

<div>
  <%= link_to "Homepage", restaurants_path %>
</div>
